/* Navbar  styles  */

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar ul li {
  margin-right: 1rem;
}

.navbar .brand {
  font-weight: 600;
  font-size: 1.4rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(30, 70, 140);
}

.navbar .brand:hover {
  color: rgb(30, 70, 140);
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 0.95rem;
}

.navbar a:hover {
  color: rgb(100, 100, 100);
}

.navbar a.active {
  color: black;
  text-decoration: underline;
}
